<div class="policy">
  <div class="policy-information-header">
    <h3>
      <ng-container
        *ngIf="
          policy.plan.product_kind === 'health';
          then healthPolicyIcon;
          else dentalPolicyIcon
        "
      ></ng-container>
      HBX Enrollment Group ID: {{ policy.hbx_assigned_id }}
    </h3>
  </div>
  <div class="policy-information">
    <dl>
      <dt>Coverage</dt>
      <dd>{{ policy.plan.name }}</dd>
      <ng-template [ngIf]="policy.rating_area">
        <dt>Rating Area</dt>
        <dd>{{ policy.rating_area }}</dd>
      </ng-template>
    </dl>
  </div>
  <div class="policy-enrollees">
    <h4>Enrollment Group</h4>
    <table>
      <thead>
        <tr>
          <th>Member Name(s)</th>
          <th>Relationship</th>
          <th>Coverage Period</th>
          <th>Carrier Member ID</th>
          <th>Carrier Policy ID</th>
          <th>Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enrollee of policy.enrollees">
          <td>{{ enrollee.person_name.full_name }}</td>
          <td>{{ enrollee.relationship }}</td>
          <td>
            {{ enrollee.coverage_start
            }}<ng-container *ngIf="enrollee.coverage_end"
              >- {{ enrollee.coverage_end }}</ng-container
            >
          </td>
          <td>{{ enrollee.carrier_member_id }}</td>
          <td>{{ enrollee.carrier_policy_id }}</td>
          <td class="money">{{ enrollee.premium_amount | currency }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="totals">Total</td>
          <td class="money">{{ policy.total_amount | currency }}</td>
        </tr>
        <tr>
          <td colspan="5" class="totals">Credits</td>
          <td class="money">{{ policy.credited_amount | currency }}</td>
        </tr>
        <tr>
          <td colspan="5" class="totals">Responsible Amount</td>
          <td class="money">
            {{ policy.responsible_amount | currency }}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="policy-transactions">
    <h4>Transactions</h4>
    <table *ngIf="policy.transactions.length > 0; else noTransactions">
      <thead>
        <tr>
          <th>Kind</th>
          <th>Status</th>
          <th>Submitted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of policy.transactions; let l = index">
          <td>{{ transaction.kind }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.submitted_at }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</div>

<ng-template #noTransactions>
  <p>No transactions found</p>
</ng-template>

<ng-template #healthPolicyIcon
  ><img class="header-icon" src="../../assets/images/health_policy.svg"
/></ng-template>
<ng-template #dentalPolicyIcon
  ><img class="header-icon" src="../../assets/images/dental_policy.svg"
/></ng-template>
