<h1>Individual Coverage</h1>

<div class="person" *ngIf="person$ | async as person; else loadingPerson">
  <h2>{{ person.person_name.full_name }}</h2>

  <div
    *ngFor="let member of person.members; let i = index"
    class="member-information"
  >
    <div class="member-information-header">
      <h3>
        HBX Member ID: {{ member.hbx_member_id }} | Gender:
        {{ member.gender }} | DOB: {{ member.dob }}
        <ng-template [ngIf]="member.ssn">| SSN: {{ member.ssn }}</ng-template>
      </h3>
    </div>
    <div class="member-policies" *ngIf="member.policies.length > 0">
      <enroll-member-policy
        *ngFor="let policy of member.policies; let j = index"
        [policy]="policy"
      >
      </enroll-member-policy>
    </div>
  </div>

  <div
    *ngFor="let responsibleParty of person.responsible_parties; let i = index"
    class="member-information"
  >
    <div class="member-information-header">
      <h3>Responsible Party ID: {{ responsibleParty.id }}</h3>
    </div>
    <div class="member-policies" *ngIf="responsibleParty.policies.length > 0">
      <enroll-member-policy
        *ngFor="let policy of responsibleParty.policies; let j = index"
        [policy]="policy"
      >
      </enroll-member-policy>
    </div>
  </div>
</div>

<ng-template #loadingPerson>
  <p>Loading...</p>
</ng-template>
