.member-information {
  margin-top: 0.75rem;
  margin-left: 1.75rem;
  border: 1px solid #000000;
}

.member-policies {
  padding: 2rem;
}

.header-icon {
  display: inline;
}

.member-information-header {
  padding: 0.5rem;
  border-bottom: 1px solid #000000;
}
