<div class="person" *ngIf="person$ | async as person; else loadingPerson">
  <h1 class="person-header">{{ person.person_name.full_name }}</h1>

  <div *ngFor="let member of person.members" class="member-information">
    <div class="member-information-header">
      <h2>
        <img class="header-icon" src="../../assets/images/person.svg" />
        HBX Member ID: {{ member.hbx_member_id }} | Gender:
        {{ member.gender }} | DOB: {{ member.dob }}
        <span *ngIf="member.ssn">| SSN: {{ member.ssn }}</span>
      </h2>
    </div>
    <enroll-member-policy
      *ngFor="let policy of member.policies"
      [policy]="policy"
    >
    </enroll-member-policy>
  </div>

  <div
    *ngFor="let responsibleParty of person.responsible_parties"
    class="member-information"
  >
    <div class="member-information-header">
      <h2>Responsible Party ID: {{ responsibleParty.id }}</h2>
    </div>
    <enroll-member-policy
      *ngFor="let policy of responsibleParty.policies"
      [policy]="policy"
    >
    </enroll-member-policy>
  </div>
</div>

<ng-template #loadingPerson>
  <p>Loading...</p>
</ng-template>
