table {
  // table-layout: fixed;
  //width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid grey;
}

.policy-information {
  padding: 0.75rem;
}

.policy-information-header {
  padding: 0.5rem;
  border-bottom: 2px solid #000000;
}

.policy-enrollees {
  padding-left: 0.75rem;
}

.policy-transactions,
.aptc-credits {
  padding: 0.75rem;
}

.money {
  text-align: right;
}

.totals {
  text-align: right;
}

.header-icon {
  display: inline;
  padding-right: 0.5rem;
}

dt {
  font-weight: bold;
}

dl {
  display: grid;
  grid-template-columns: max-content 80fr;
  column-gap: 2rem;
}

.policy {
  margin: 0.75rem;
  border: 2px solid;
}
