:root {
  --theme-primary-010: hsl(86, 23%, 94%);
  --theme-primary-020: hsl(83, 20%, 87%);
  --theme-primary-030: hsl(83, 22%, 81%);
  --theme-primary-040: hsl(84, 22%, 75%);
  --theme-primary-050: hsl(83, 21%, 68%);
  --theme-primary-060: hsl(83, 21%, 62%);
  --theme-primary-070: hsl(84, 21%, 56%);
  --theme-primary-080: hsl(84, 22%, 49%);
  --theme-primary-090: hsl(83, 28%, 43%);
  --theme-primary-100: hsl(83, 37%, 36%);
  --theme-primary-110: hsl(83, 37%, 33%);
  --theme-primary-120: hsl(84, 38%, 29%);
  --theme-primary-130: hsl(84, 37%, 25%);
  --theme-primary-140: hsl(83, 37%, 22%);
  --theme-primary-150: hsl(83, 37%, 18%);
  --theme-primary-160: hsl(84, 38%, 15%);
  --theme-primary-170: hsl(83, 38%, 11%);
  --theme-primary-180: hsl(83, 35%, 7%);
  --theme-primary-190: hsl(86, 37%, 4%);

  --theme-secondary-010: hsl(204, 38%, 95%);
  --theme-secondary-020: hsl(207, 33%, 89%);
  --theme-secondary-030: hsl(206, 35%, 84%);
  --theme-secondary-040: hsl(207, 33%, 79%);
  --theme-secondary-050: hsl(206, 34%, 74%);
  --theme-secondary-060: hsl(206, 35%, 68%);
  --theme-secondary-070: hsl(206, 34%, 63%);
  --theme-secondary-080: hsl(206, 34%, 58%);
  --theme-secondary-090: hsl(206, 34%, 53%);
  --theme-secondary-100: hsl(206, 38%, 47%);
  --theme-secondary-110: hsl(206, 38%, 42%);
  --theme-secondary-120: hsl(206, 39%, 38%);
  --theme-secondary-130: hsl(206, 38%, 33%);
  --theme-secondary-140: hsl(206, 39%, 28%);
  --theme-secondary-150: hsl(206, 38%, 24%);
  --theme-secondary-160: hsl(207, 38%, 19%);
  --theme-secondary-170: hsl(206, 39%, 14%);
  --theme-secondary-180: hsl(207, 38%, 9%);
  --theme-secondary-190: hsl(204, 42%, 5%);

  --theme-tertiary-010: hsl(204, 15%, 94%);
  --theme-tertiary-020: hsl(198, 15%, 87%);
  --theme-tertiary-030: hsl(200, 15%, 80%);
  --theme-tertiary-040: hsl(201, 15%, 73%);
  --theme-tertiary-050: hsl(202, 15%, 67%);
  --theme-tertiary-060: hsl(202, 15%, 60%);
  --theme-tertiary-070: hsl(202, 15%, 54%);
  --theme-tertiary-080: hsl(203, 17%, 47%);
  --theme-tertiary-090: hsl(201, 22%, 41%);
  --theme-tertiary-100: hsl(202, 29%, 34%);
  --theme-tertiary-110: hsl(201, 29%, 30%);
  --theme-tertiary-120: hsl(203, 29%, 27%);
  --theme-tertiary-130: hsl(202, 29%, 24%);
  --theme-tertiary-140: hsl(202, 29%, 20%);
  --theme-tertiary-150: hsl(202, 29%, 17%);
  --theme-tertiary-160: hsl(201, 29%, 13%);
  --theme-tertiary-170: hsl(200, 29%, 10%);
  --theme-tertiary-180: hsl(198, 29%, 7%);
  --theme-tertiary-190: hsl(204, 29%, 3%);

  // Button Colors
  --button-primary-fill: var(--theme-secondary-100);

  // Heading Colors
  --heading-color: var(--theme-secondary-100);
}

.button {
  background-color: var(--button-primary-fill);
}
