:root {
  --theme-primary-050: hsl(202, 15%, 67%);
  --theme-primary-060: hsl(202, 15%, 60%);
  --theme-primary-070: hsl(202, 15%, 54%);
  --theme-primary-080: hsl(203, 17%, 47%);
  --theme-primary-090: hsl(201, 22%, 40%);
  --theme-primary-100: hsl(202, 29%, 34%);
  --theme-primary-110: hsl(201, 29%, 30%);
  --theme-primary-120: hsl(203, 29%, 27%);
  --theme-primary-130: hsl(202, 29%, 24%);
  --theme-primary-140: hsl(202, 29%, 20%);
  --theme-primary-150: hsl(202, 29%, 17%);

  --theme-secondary-050: hsl(206, 33%, 72%);
  --theme-secondary-060: hsl(206, 33%, 66%);
  --theme-secondary-070: hsl(205, 33%, 61%);
  --theme-secondary-080: hsl(206, 33%, 55%);
  --theme-secondary-090: hsl(206, 34%, 50%);
  --theme-secondary-100: hsl(206, 38%, 47%);
  --theme-secondary-110: hsl(206, 42%, 40%);
  --theme-secondary-120: hsl(206, 42%, 35%);
  --theme-secondary-130: hsl(205, 42%, 31%);
  --theme-secondary-140: hsl(206, 42%, 26%);
  --theme-secondary-150: hsl(206, 42%, 22%);

  --theme-tertiary-050: hsl(84, 21%, 68%);
  --theme-tertiary-060: hsl(83, 21%, 62%);
  --theme-tertiary-070: hsl(84, 21%, 55%);
  --theme-tertiary-080: hsl(84, 22%, 49%);
  --theme-tertiary-090: hsl(84, 29%, 43%);
  --theme-tertiary-100: hsl(83, 37%, 36%);
  --theme-tertiary-110: hsl(84, 38%, 33%);
  --theme-tertiary-120: hsl(84, 38%, 29%);
  --theme-tertiary-130: hsl(84, 37%, 25%);
  --theme-tertiary-140: hsl(83, 37%, 22%);
  --theme-tertiary-150: hsl(84, 38%, 18%);

  // Button Colors
  --button-primary-color: var(--theme-primary-100);
  --button-primary-hover: var(--theme-primary-120);
  --button-primary-active: var(--theme-primary-140);

  // Focus colors
  --input-field-focus-color: var(--theme-secondary-100);
}
