<div class="page-heading">
  <h1>Search for Members</h1>

  <form class="fancy-search-box identifier">
    <input
      type="text"
      name="id-search"
      id="id-search"
      placeholder="Search by selected attribute"
      [(ngModel)]="searchTerm"
    />
    <button class="fancy-search-button" (click)="searchBySearchTerm()">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.5 12.5L17 17M14 8.5C14 11.5376 11.5376 14 8.5 14C5.46243 14 3 11.5376 3 8.5C3 5.46243 5.46243 3 8.5 3C11.5376 3 14 5.46243 14 8.5Z"
          stroke="var(--theme-primary-100)"
          stroke-width="2"
          stroke-linecap="round"
        /></svg
      ><span class="visually-hidden">Search</span>
    </button>
    <button
      type="button"
      class="search-toggle"
      (click)="searchType = 'name'"
      *ngIf="searchType === 'member_id'; else searchByName"
    >
      by SSN or HBX ID
    </button>

    <ng-template #searchByName
      ><button
        type="button"
        class="search-toggle"
        (click)="searchType = 'member_id'"
      >
        by Member Name
      </button></ng-template
    >
  </form>
</div>

<div
  class="search-results"
  *ngIf="searchResults$ | async as searchResults; else beginSearch"
>
  <ng-container *ngIf="searchResults.length > 0; else noResults">
    <h2>Search Results</h2>
    <div class="person-result">
      <table class="ea-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>HBX ID</th>
            <th>Policy Count</th>
            <th>SSN</th>
            <th>DOB</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of searchResults">
            <ng-container *ngFor="let member of result.members">
              <td>
                <a [routerLink]="['..', 'members', result.id]">
                  {{ result.person_name.first_name }}
                  {{ result.person_name.last_name }}
                </a>
              </td>
              <td>{{ member.hbx_member_id }}</td>
              <td>{{ member.policies.length }}</td>
              <td>{{ member.ssn }}</td>
              <td>{{ member.dob }}</td>
              <td>{{ member.gender }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
<ng-template #noResults>
  <h2>{{ noResultsMessage }}</h2>
</ng-template>

<ng-template #beginSearch
  ><div class="empty-search-results">
    <p>Begin searching to see results</p>
  </div>
</ng-template>
